body {
  background-color: #111;
}
h1 {
  font-family: Courier;
  font-size: 2vw;
  color: #0f0;
  border: #111;
  border-bottom: #0f0;
  border-style: solid;
  border-width: .2vw;
  margin: 0px;
}

div.row {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

div.filesContainer {
  width: 9vw;
  display: inline-block;
  border: #111;
  border-right: #0f0;
  border-width: .2vw;
  text-wrap: wrap;
  border-style: solid;
}

div.filesContainer h2 {
  font-family: Courier;
  font-size: 1.5vw;
  color: #0f0;
  margin: 0px;
  border: #111;
  border-bottom: #0f0;
  border-style: solid;
  border-width: .2vw;
}

div.filesContainer button {
  font-family: Courier;
  font-size: 1vw;
  color: #0f0;
  margin: 0px;
  background-color: rgba(0, 0, 0, 0);
  border-style: none;
  text-align: left;
  width: 7.5vw;
}


div.workspaceContainer {
  width: 90vw;
  display: flex;
  flex-direction: row;
}

div.sortable-workspace {
  display: inline-block;
  width: 48%;
  text-wrap: wrap;
  float: none;
  overflow: hidden;
  background-color: #111;
  margin: 0px;  
  border: #111;
  border-right: #0f0;
  border-style: solid;
}

div.sortable-workspace h2 {
  font-family: Courier;
  font-size: 1.5vw;
  color: #0f0;
  margin: 0px;
  border: #111;
  border-bottom: #0f0;
  border-style: solid;
  padding-left: .5vw;
}

div.sortable-workspace p {
  font-family: sans-serif;
  font-size: 1vw;
  color: #fff;
  margin: 0px;
  margin-top: 1vw;
  padding-left: 1vw;
  padding-right: 1vw;
}

div.spacer {
    height: .5vw;
}


.sortable-list {
  list-style: none;
  padding: 0;
  width: 350px;
  margin: auto;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}
.sortable-item {
  padding: 0px;
  margin: 0px;
  /* background: rgba(255, 255, 255, 0.8); */
  border-radius: 5px;
  font-size: 1.1em;
  color: #333;
  font-weight: bold;
  width: 8vw;
  cursor: grab;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* transition: background 0.2s, transform 0.2s; */
}
.sortable-item:hover {
  background: #222;
  transform: scale(1.03);
}
.dragging {
  opacity: 0.7;
  transform: rotate(-2deg);
}
